:root {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-body: 'Lora', serif;
    --font-header: 'Playfair Display', serif;
    --font-buttons: 'Poppins', sans-serif;
    --font-additional: 'Roboto Slab', serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: inherit;
    font-size: 100%;
    background-color: #F6F1E4;

    display: grid;
    grid-template-rows: 150px auto;
}

header {
    padding: 0 2rem;
    background-color: #F4E6D2;
    box-shadow: 0 5px 10px -5px #444444;
    border-bottom: 4px solid #9875549f;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100%;
    gap: 1rem;
}

li {
    list-style-type: none;
}

.main-list:hover::after {
    filter: invert(1);
}

.main-list:hover > a {
    color: #ffffff;
    text-shadow: 0 0 10px #987554;
}

.hidden-genre {
    display: none;

    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-additional);
    top: 50px;
    right: 75px;
    background-color: #F7F7F7;
    border: 3px solid #987554;
    border-radius: 5px;
}

.flex-ul {
    height: 150px;
    width: 150px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0 5px;
}

.flex-ul li {
    padding: 5px 10px;
    border-left: 5px solid #987554;
    color: #333333;
}

.flex-ul li:hover {
    background-color: #E5D8A1;
}

.flex-ul li:hover a {
    color: #F7F7F7;
}

.main-list:hover .hidden-genre,
.hidden-genre:hover {
    display: block;
}

h1,
h2 {
    font-weight: normal;
    font-size: 1rem;
}

.img-container {
    background-image: url("./icons/book-open-page-variant.svg");
    background-size: contain;
    width: 6rem;
    height: 6rem;
}

.logo-container {
    font-family: var(--font-body);

    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;

    align-items: center;
}

.logo-container > h1 {
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 2.7rem;
}

h1 > span {
    display: block;
}

a {
    text-decoration: none;
    color: #333333;
}

.nav-list-container {
    display: flex;
}

.nav-list-container > nav {
    flex: 1;

    display: grid;
    grid-template-rows: auto;
    align-content: center
}

.nav-list-container > nav > ul {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    justify-items: flex-start;
    align-items: center;

    font-family: var(--font-body);
    font-size: 2.5rem;
}

.nav-list-container > nav > ul > li:first-of-type {
    position: relative;
    font-weight: bold;
    justify-self: flex-end;
    padding-right: 7rem;
}

.nav-list-container > nav > ul > li:first-of-type::after {
    content: "";
    background-image: url("./icons/arrow-down-svgrepo-com.svg");
    background-size: contain;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    position: absolute;
    top: .7rem;
}

.nav-list-container form {
    display: grid;
    align-items: center;
}

.nav-list-container form > input {
    appearance: none;
    border: 3px solid #987554;
    border-radius: .5rem;

    font-size: 1.3rem;
    padding: .5rem 1rem;
}

main {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.wood-border {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    border: 1rem double #987554;
    background-color: #E5D8A1;
    box-shadow: 5px 5px 10px -5px #444444;
    border-radius: 5px;
    height: auto;
}

.grid-container {
    background-color: #F7F7F7;
    padding: 1rem;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.generated-article {
    background-color: #FAF3E0;
    border: 2px solid #e5d3b3;
    border-top: 8px solid #987554;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -5px #444444;
    padding: 1rem 1rem 3rem 1rem;
    height: 450px;

    display: grid;
    grid-template-rows: 50px 2fr 1fr;
}

.generated-title {
    font-size: 2rem;
    font-family: var(--font-additional);
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.generated-author {
    font-size: 1.5rem;
    align-self: flex-end;
    justify-self: center;
}

.generated-buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.generated-buttons button {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.generated-buttons button:hover {
    box-shadow: 5px 5px 10px -5px #444444;
}

.read-button {
    background-image: url("./icons/heart-circle.svg");
    background-size: contain;
}

.delete-button {
    background-image: url("./icons/close-circle-fill.svg");
    background-size: contain;
}

.read-button:hover {
    background-color: #FF66B2;
}

.read-button:active {
    background-color: #FF99CC;
}

.delete-button:hover {
    background-color: #FF5733;
}

.delete-button:active {
    background-color: #FF8A65;
}

.addButton-container {
    display: grid;
    align-items: center;
    height: 450px;
    order: 2;
}

.addButton-container button {
    appearance: none;
    background-color: #987554;
    border: 2px solid #e5d3b3;
    border-radius: 5px;
    border-left: 8px solid #FAF3E0;
    box-shadow: 5px 5px 10px -5px #444444;
    text-align: center;
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: bold;
    color: #F7F7F7;
    cursor: pointer;

    height: 80px;
    width: auto;
}

.addButton-container button:hover {
    background-color: #C5A572;
}

.addButton-container button:active {
    background-color: #D6B88A;
    color: #987554;
}

.addButton-container button:focus {
    outline: none;
}

.dialog-form {
    height: auto;
    width: auto;
}

dialog {
    top: 13%;
    left: 33%;

    width: 39rem;
    height: 40rem;
    border-radius: 10px;
    background-color: #FAF3E0;
    padding: 5px 2rem 2rem 2rem;
    border: 5px solid #987554;
    box-shadow: 0 0 5px 2px #444444;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

.form-dialog {
    width: 100%;
    height: 100%;
    color: #987554;

    display: grid;
    grid-template-rows: repeat(6, auto);
}

.form-dialog > div:nth-of-type(3),
.form-dialog > div:nth-of-type(4) {
    display: flex;
    flex-direction: column;
}

.form-dialog > div:nth-of-type(5) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-dialog > div:first-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-dialog > div:first-of-type button {
    background-image: url("./icons/close-circle-fill.svg");
    border-radius: 1.5rem;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.form-dialog h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--font-additional);
    text-align: center;
}

hr {
    margin: 0 auto;
    margin-top: 10px;
    height: 6px;
    width: 70%;
    text-align: center;
    background-color: #987554;
}

.form-dialog input:not([type="radio"]) {
    height: 2.3rem;
    font-size: 1rem;
    font-family: var(--font-additional);
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 6px;
}

.form-dialog label {
    font-family: var(--font-system);
    font-size: .9rem;
    letter-spacing: .2rem;
    font-weight: bold;
}

.form-dialog > div:nth-of-type(5) > div:last-of-type {
    height: 100%;
    padding-left: 8px;
    border-left: 5px solid #987554;
}

fieldset {
    border: none;
    height: 100%;
}

legend {
    font-family: var(--font-system);
    font-size: 1.1rem;
    font-weight: bold;
}

.radio-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-top: 5px;
}

.radio-container div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-container label {
    font-size: 1.1rem;
    letter-spacing: -1px;
}

.radio-container input {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
}

.radio-container input::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #987554;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(0);
    transform-origin: center;
    transition: all .3s ease-in;
}

.radio-container input:checked::after{
    transform: scale(1);
    transition: all .3s ease-out;
}

.form-button-container {
    margin-left: auto;
    display: flex;
    align-items: end;
}

button[type="submit"] {
    appearance: none;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
    font-family: var(--font-additional);
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    border: 3px solid #987554;
    border-radius: 10px;
    color: #987554;
}

button[type="submit"]:hover {
    transform: translate(-4px, -3px) scale(1.03);
    transition: all .1s ease-in-out;
    box-shadow: 5px 5px 10px -5px #444444;
}

button[type="submit"]:active {
    color: #ffffff;
    background-color: #987554;
    border-color: #ffffff;
}

.close-button-container button:hover {
    box-shadow: 5px 5px 10px -5px #444444;
    background-color: #987554;
}

.close-button-container button:active {
    background-color: #D6B88A;
}